.attraction-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(240, 240, 240, 0.9);
}

.attraction-header {
  margin-bottom: 20px;
}

.attraction-header h1 {
  font-size: 30px;
  color: black;
}

.attraction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.attraction-item {
  flex: 1 1 calc(20% - 10px); /* 각 아이템의 너비를 20%로 설정하고 간격을 고려 */
  margin: 5px; /* 아이템 간격 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

/* 관광지 리스트 스타일 */
.attraction-list {
  display: grid; /* Grid 레이아웃 사용 */
  grid-template-columns: repeat(5, 1fr); /* 5개의 열 설정 */
  gap: 10px; /* 아이템 간격 */
}

.attraction-item {
  text-align: center; /* 텍스트 중앙 정렬 */
  color: black;
  text-decoration: none; /* 기본 밑줄 제거 */
  cursor: default; /* 기본 커서 */
}

.attraction-item a {
  text-decoration: none; /* 링크에 대한 기본 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

.attraction-item a:hover {
  text-decoration: underline; /* 링크 호버 시 밑줄 추가 */
  cursor: pointer; /* 커서 포인터로 변경 */
}

.attraction-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: black;
}

.attraction-pagination button {
  margin: 0 7px;
  padding: 1px 4px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

